.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color: white;
    box-shadow: 0px -4px 20px rgba(0, 0, 0, 0.04);
}
