.card {
    background-color: white;
    width: 100%;
    max-width: 335px;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
}

.text {
    padding: 10px 12px;
    color: blue;
    [class='title'] {
        font-weight: 900;
        font-size: 18px;
        color: red;
    }
    [class='description'] {
        color: aqua;
    }
}
