.container {
    background-color: #e5e5e5;
    [class='header'] {
        width: 100%;
        max-width: 335px;
        margin: 0 auto;
    }
    [class='page-title'] {
        padding-top: 36px;
        font-weight: 900;
        font-size: 22px;
        line-height: 32px;
        letter-spacing: 0.06em;
        color: #000000;
    }
}

.contents {
    width: 100%;
    max-width: 335px;
    margin: 0 auto;
    padding-bottom: 24px;
    [class='card'] {
        padding-top: 16px;
    }
}
