@use "../../variables" as *;

.card {
    background-color: map-get($colors, background-white);
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
}

.text {
    padding: 10px 12px;

    .title {
        font-weight: 900;
        font-size: 18px;
        line-height: 26px;
        letter-spacing: 0.06em;
        color: map-get($colors, text-black);
    }
    .description {
        margin-top: 8px;
        font-size: 13px;
        line-height: 19px;
        text-align: justify;
        letter-spacing: 0.01em;
        color: map-get($colors, text-black);
    }
}
